.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

.popup2 {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}

.popup-content {
    height: 250px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-content2 {
    height: 300px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.popup-input {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;

}

.close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    cursor: pointer;
}

.close2 {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    cursor: pointer;
}

